@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0, 0%, 100%, 0.1;

    --foreground: 222.2, 84%, 4.9%, 1;
    --card: 0, 0%, 100%, 1;
    --card-foreground: 222.2, 84%, 4.9%, 1;
    --popover: 0, 0%, 100%, 1;
    --popover-foreground: 222.2, 84%, 4.9%, 1;

    --primary: 248, 100%, 71%, 1;
    --primary-dark: 225, 76%, 18%, 1;
    --primary-foreground: 210, 40%, 98%, 1;
    --secondary: var(--background);
    --secondary-foreground: 0, 0%, 100%, 1; /* foreground is the text color */
    --outline: 75, 5%, 16%, 1;
    --outline-foreground: var(--outline);

    --muted: 210, 40%, 90%, 1;
    --muted-foreground: 210, 40%, 96.1%, 1;
    --accent: 210, 40%, 96.1%, 1;
    --accent-foreground: 222.2, 47.4%, 11.2%, 1;

    --positive: 99, 52%, 55%, 1;
    --positive-foreground: 180, 5%, 8%, 1;

    --destructive: 0, 84.2%, 60.2%, 1;
    --destructive-foreground: 210, 40%, 98%, 1;

    --border: 0, 0%, 100%, 0.2;
    --input: 0, 0%, 100%, 0.2;
    --ring: 214.3, 31.8%, 91.4%, 1;
    --chart-1: 12, 76%, 61%, 1;
    --chart-2: 173, 58%, 39%, 1;
    --chart-3: 197, 37%, 24%, 1;
    --chart-4: 43, 74%, 66%, 1;
    --chart-5: 27, 87%, 67%, 1;

    --radius: 1rem;

    background-color: #4b33be;
  }
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}
@keyframes borderAnimation {
  0% { 
    border-image-source: linear-gradient(0deg, #ff7eb3, #ffffff);
  }
  25% { 
    border-image-source: linear-gradient(90deg, #ff7eb3, #ffffff);
  }
  50% { 
    border-image-source: linear-gradient(180deg, #ff7eb3, #ffffff);
  }
  75% { 
    border-image-source: linear-gradient(270deg, #ff7eb3, #ffffff);
  }
  100% { 
    border-image-source: linear-gradient(360deg, #ff7eb3, #ffffff);
  }
}
.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}  

.animate-border {
  border-width: 4px;
  border-style: solid;
  border-image-slice: 1;
  border-radius: 10px;
  animation: borderAnimation 2s linear infinite;
  will-change: border-image-source;
  transition: border-image-source 1s ease-in-out;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-icon {
  animation: blink 1s infinite;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.glass-panel {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: var(--radius);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* html {
  height: 100%;
  background-image: linear-gradient(to bottom, #7357FF, #4b33be);
} */

.animated-container {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInSlideDown 0.4s cubic-bezier(0.46, 1.36, 0.58, 1.35) forwards;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-container {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-quick {
  opacity: 0;
  animation: fadeInQuick 150ms ease-in forwards;
}

@keyframes fadeInQuick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.horizontal-grow {
  animation: horizontal-grow 0.3s forwards;
}

@keyframes horizontal-grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

.slide-down {
  animation: slide-down 0.3s ease-in forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(200%) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(200%) scale(0);
  }
}
